#contact {
	position: relative;
	h2 {
		padding-bottom: 7em;
	}
	.contactFormular {
		position: absolute;
		top: 60px;
		width: 80%;
		margin-left: calc(50% - 40%);
		padding: 1em;
		background-color:white;
		input, textarea {
			width: 100%;
			
		}
		button {
			background-color: rgb(244,65,64);
			color: white;
			padding: 0.2em;
			border: none;
		}
	}
}