#movieWrapperShop {
	width: 100%;
	display:flex;
	.movieShopLeft {
		width: 60%;
		display:flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.movieBoxShop {
			width: 24%;
			background-color: #edecf2;
			margin-bottom: 10px;
			border-bottom: 1px solid rgba(0,0,0,0.4);
			img{
				width:100%;
				filter: brightness(1);
			}
		}
	}
	.movieShopRight {
		margin-left: 10px;
		width: 40%;
		background-color: black;
	}
}