#boxFacebook, #boxTwitter, #boxDribbble, #boxGoogle {
	position: fixed;
	left: -90px;
	width: 120px;
	padding: 7px;
	z-index: 20;	
	border-radius: 0 50px 50px 0;
	display: flex; 
	justify-content: space-between;
	align-items: center;
	color: white;
	font-size: 0.8em;
	i {
		padding-right: 3px;
	}
}

#boxTwitter{
	top: 470px;
	background-color: #3eabf7;
}

#boxFacebook {
	top: 505px;
	background-color: #405f93;
	
}

#boxDribbble {
	top: 540px;
	background-color: #ef478a;
}
#boxGoogle {
	top: 575px;
	background-color: #da4c34;
}

#boxFacebook:hover, #boxTwitter:hover, #boxDribbble:hover, #boxGoogle:hover {
	left: 0;
}